# See whats in data

In [11]:
import pandas as pd

In [12]:
completed_deals = pd.read_csv('data/completed-or-current-deails-2019-10-29.csv')

completed_deals.head()

,Deal ID,Deal Name,Deal owner,Deal Stage,Sales Lead,Designated Office,Director,Industry,Source,Associated Company ID,Associated Company,Associated Contact IDs,Associated Contacts
0,1126055965,American Family Insurance - Shark,Kevin Kotowski,Client,Dennis Moore,Madison,Kevin Kotowski,Insurance,None,846172243,American Family Insurance,NaN,NaN
1,362032710,SSE,Jim Suchy,Client,Margaret Pagel,London,Nick Dyer,Government,Existing client referral,727202247,Arthur D Little,NaN,NaN
2,941965426,Confluency - X Factor,Brad Ediger,Client,Dennis Moore,Chicago,Dennis Moore,Government,Cold Call,2338059811,Confluency,30437651,Mason Throneburg
3,905986805,Reverb - Holistic On-boarding/Training/Mentor ...,Ryan Verner,Client,Jenn Imamura,Chicago,Ryan Verner,E-commerce,Website,629633500,Reverb.com LLC,"37461401, 35715851, 38635601","Molly Rudberg, Kyle Crum, Jason Wain"
4,876852247,Maintenance and Consulting Services,Kim Carten,Completed,Jenn Imamura,Los Angeles,Malcolm Newsome,NaN,Upsell,727079949,CMD-IT,NaN,NaN

In [7]:
by_stage = completed_deals.groupby('Deal Stage')['Deal Stage'].count()
print(by_stage)

Deal Stage
Client        87
Completed    333
Name: Deal Stage, dtype: int64

In [13]:
lost_deals = pd.read_csv('data/lost-deals-2019-10-28-1.csv')

lost_deals.head()

,Deal ID,Deal Name,Deal owner,Deal Stage,Director,Sales Lead,Designated Office,Industry,Source,Business Lines,Associated Company ID,Associated Company,Associated Contact IDs,Associated Contacts
0,986095408,Reboot Global - Platform build,Paul Pagel,Lost,Kevin Kotowski,Paul Pagel,Chicago,NaN,Website,Product Design and Delivery,2377166566,Reboot Global,37060651,Diantha Boardman
1,897268071,Edovo - New Deal,heather corallo,Lost,Brian Pratt,heather corallo,Chicago,Technology,Employee Referral,Enablement,776052624,Edovo,NaN,NaN
2,1045924601,Factor 75- Cyber Security Assessment and Imple...,heather corallo,Lost,heather corallo,Dennis Moore,Chicago,E-commerce,Employee Referral,Enablement,NaN,NaN,NaN,NaN
3,856355326,DRW: Systematic Trading Desk,heather corallo,Lost,heather corallo,heather corallo,Chicago; New York,Financial,Employee Referral,Consulting,2165334585,DRW Holdings,34508751,Steve Kim
4,1096375314,Metropolis Collectibles - MSS,Kim Carten,Lost,Malcolm Newsome,Jenn Imamura,Chicago,NaN,Referral,Managed Services,2465796952,Metropolis Collectibles,NaN,NaN

In [6]:
by_source = completed_deals.groupby('Source')['Source'].count()
print(by_source)

Source
Clutch.co                    1
Cold Call                    2
EO                           1
Employee Referral           23
Existing client referral    72
Expansion                   17
Extension                   11
Import                       1
None                         2
Referral                    35
Trade Show                   1
Upsell                      30
Website                     11
Name: Source, dtype: int64

In [14]:
by_source = lost_deals.groupby('Source')['Source'].count()
print(by_source)

Source
Cold Call                    2
EO                           2
Employee Referral           37
Existing client referral    55
Expansion                    6
Extension                    4
None                         1
Referral                    35
Toll Free Number             1
Trade Show                   7
Uncle Bob                    1
Upsell                      27
Website                     66
Name: Source, dtype: int64

## By Deal owner

In [8]:
by_deal_owner = completed_deals.groupby('Deal owner')['Deal owner'].count()
print(by_deal_owner)

Deal owner
Becca Townsend                            3
Brad Ediger                               9
Brian Pratt (Deactivated User)            1
Colin Jones                               2
Connor Mendenhall                         3
Connor Mendenhall (Deactivated User)      2
Dave Moore                               15
Dennis Moore                              3
Doug Bradbury                            22
Gary Gentry (Deactivated User)            1
Gustin Prudner (Deactivated User)        15
Jenn Imamura                              1
Jim Remsik (Deactivated User)             5
Jim Suchy                                36
Jordan Koczot                            23
Joseph Brown                              4
Kevin Kotowski                           14
Kim Carten                               25
Kristin Kaeding                           1
Malcolm Newsome                          26
Margaret Pagel                          129
Paul Pagel                               29
Ray Hightower (Deactivated User)         22
Ryan Verner                              19
Sarah Sunday                              5
Name: Deal owner, dtype: int64

In [15]:
by_deal_owner = lost_deals.groupby('Deal owner')['Deal owner'].count()
print(by_deal_owner)

Deal owner
Becca Townsend                            2
Brad Ediger                               1
Colin Jones                               2
Connor Mendenhall                         4
Connor Mendenhall (Deactivated User)     16
Dave Moore                               53
Dennis Moore                             10
Doug Bradbury                            49
Gary Gentry (Deactivated User)           10
Gustin Prudner (Deactivated User)        16
Jim Remsik (Deactivated User)            15
Jim Suchy                                94
Jordan Koczot                            71
Kevin Kotowski                           11
Kim Carten                               16
Kristin Kaeding                           2
Li-Hsuan Lung (Deactivated User)          1
Malcolm Newsome                          23
Margaret Pagel                          380
Nick Dyer                                 1
Paul Pagel                               75
Ray Hightower (Deactivated User)         45
Ryan Verner                              35
Sarah Sunday                             10
heather corallo                           8
Name: Deal owner, dtype: int64

## By Industry

In [9]:
by_industry = completed_deals.groupby('Industry')['Industry'].count()
print(by_industry)

Industry
Agriculture         2
Automotive          1
Design              2
E-commerce         30
Entertainment       1
Financial          36
Food Production     1
Gaming              6
Government          7
Health Care        29
Insurance          22
Legal               1
Non Profit          8
Publishing          1
Sports              1
Technology          8
Travel             12
Name: Industry, dtype: int64

In [16]:
by_industry = lost_deals.groupby('Industry')['Industry'].count()
print(by_industry)

Industry
Automotive      4
E-commerce     60
Financial      40
Gaming          1
Government     16
Health Care    35
Insurance      17
Non Profit      6
Sports          4
Technology      1
Travel         14
Name: Industry, dtype: int64

## By Designated Office

In [10]:
by_office = completed_deals.groupby('Designated Office')['Designated Office'].count()
print(by_office)

Designated Office
Chicago             264
Chicago; London       2
London               53
Los Angeles          39
Madison               6
Madison; Chicago      1
New York             23
New York; London      1
Name: Designated Office, dtype: int64

In [17]:
by_office = lost_deals.groupby('Designated Office')['Designated Office'].count()
print(by_office)

Designated Office
Chicago                                            434
Chicago; London                                      1
Chicago; London; Los Angeles; New York; Madison      1
Chicago; Los Angeles                                 1
Chicago; Madison                                     1
Chicago; New York                                    2
London                                             122
London; Chicago                                      1
Los Angeles                                         72
Madison                                             11
Madison; Chicago                                     2
New York                                            48
New York; Madison                                    1
Name: Designated Office, dtype: int64

In [41]:
lost_deals['Industry'].value_counts()

E-commerce     60
Financial      40
Health Care    35
Insurance      17
Government     16
Travel         14
Non Profit      6
Automotive      4
Sports          4
Technology      1
Gaming          1
Name: Industry, dtype: int64

In [39]:
completed_deals.Industry.value_counts()

Financial          36
E-commerce         30
Health Care        29
Insurance          22
Travel             12
Technology          8
Non Profit          8
Government          7
Gaming              6
Agriculture         2
Design              2
Food Production     1
Sports              1
Automotive          1
Entertainment       1
Publishing          1
Legal               1
Name: Industry, dtype: int64

# Combined features

In [33]:
lost_combo = lost_deals.groupby(['Designated Office', 'Industry'])['Designated Office', 'Industry'].size().sort_index().reset_index()
lost_combo.columns = ['Designated Office', 'Industry', 'Count']
lost_combo = lost_combo.sort_values(by=['Count'], ascending=False)
lost_combo.head(25)

   Designated Office     Industry  Count
1            Chicago   E-commerce     40
4            Chicago  Health Care     26
2            Chicago    Financial     22
5            Chicago    Insurance     10
9            Chicago       Travel      9
24       Los Angeles   Government      8
14            London   E-commerce      7
22       Los Angeles    Financial      6
21       Los Angeles   E-commerce      5
3            Chicago   Government      5
35          New York   E-commerce      5
15            London    Financial      4
36          New York    Financial      4
25       Los Angeles  Health Care      4
27       Los Angeles   Non Profit      3
0            Chicago   Automotive      3
29       Los Angeles       Travel      2
40          New York       Travel      2
38          New York  Health Care      2
37          New York   Government      2
7            Chicago       Sports      2
33           Madison    Insurance      2
26       Los Angeles    Insurance      2
31           Madison    Financial      2
17            London    Insurance      2