# Load data

In [1]:
import pandas as pd

completed_deals = pd.read_csv('../data/completed-or-current-deails-2019-10-29.csv')
lost_deals = pd.read_csv('../data/lost-deals-2019-10-28-1.csv')

completed_deals['Deal Stage'] = '1'
lost_deals['Deal Stage'] = '0'

deals_df = pd.concat([completed_deals, lost_deals], sort=False)

deals_df.head()

,Deal ID,Deal Name,Deal owner,Deal Stage,Sales Lead,Designated Office,Director,Industry,Source,Associated Company ID,Associated Company,Associated Contact IDs,Associated Contacts,Business Lines
0,1126055965,American Family Insurance - Shark,Kevin Kotowski,1,Dennis Moore,Madison,Kevin Kotowski,Insurance,None,846172243,American Family Insurance,NaN,NaN,NaN
1,362032710,SSE,Jim Suchy,1,Margaret Pagel,London,Nick Dyer,Government,Existing client referral,727202247,Arthur D Little,NaN,NaN,NaN
2,941965426,Confluency - X Factor,Brad Ediger,1,Dennis Moore,Chicago,Dennis Moore,Government,Cold Call,2338059811,Confluency,30437651,Mason Throneburg,NaN
3,905986805,Reverb - Holistic On-boarding/Training/Mentor ...,Ryan Verner,1,Jenn Imamura,Chicago,Ryan Verner,E-commerce,Website,629633500,Reverb.com LLC,"37461401, 35715851, 38635601","Molly Rudberg, Kyle Crum, Jason Wain",NaN
4,876852247,Maintenance and Consulting Services,Kim Carten,1,Jenn Imamura,Los Angeles,Malcolm Newsome,NaN,Upsell,727079949,CMD-IT,NaN,NaN,NaN

# Extracting only company columns

In [7]:
deals_df['Industry'] = deals_df['Industry'].fillna('')
companies_df = deals_df.groupby('Associated Company ID', as_index=False)\
    .agg({
        'Associated Company': 'first',
        'Industry': lambda x: ';'.join(x),
        'Deal Name': lambda x: ';'.join(x),
        'Deal Stage': lambda x: ';'.join(x)
        })

companies_df.head()

,Associated Company ID,Associated Company,Industry,Deal Name,Deal Stage
0,1005828045,Big Radical Limited,Non Profit,Web Community Project,0
1,1006470667,psygro.co.za,,Trudy Tanner - 8thlight.com contact,0
2,1006849789,Care Coordination Systems,Health Care,CCS Pathways -- Admin Modules and Web Educatio...,0
3,1011074056,KOS Services LLC,,Erin Steinhardt - 8thlight.com contact,0
4,1013701003,Dan Bocik,,Dan Bocik - 8thlight.com contact,0

In [8]:
companies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 802 entries, 0 to 801
Data columns (total 5 columns):
Associated Company ID    802 non-null object
Associated Company       802 non-null object
Industry                 802 non-null object
Deal Name                802 non-null object
Deal Stage               802 non-null object
dtypes: object(5)
memory usage: 37.6+ KB

In [ ]:
companies_df.shape

# Saving the result

In [9]:
companies_df.to_csv('../data/companies-from-deals.csv')